{% extends "base.html" %}
{% load static %}

{% block content %}
<style>

.tab_item2 {
    width: calc(100%);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #f9f9f9;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
    }
.tab_item:hover {
    opacity: 0.75;
}


</style>

<label class="tab_item2" for="programming">里親探しサービスについて</label>
        <div style="text-align:center;vertical-align: middle;padding: 0 0 10px;">
            {% comment %} 本文 {% endcomment %}
            <div style="text-align:left;">
                <h3 style="font-size:20px;">
                    ユーザーの皆様へ
                </h3>
                <div style="width:95%;margin-left:auto;">
                    <label>
                        このサービスは当チームと提携している会社・団体より提供された、里親探し中の動物たちの情報が閲覧できるサービスです。
                        
                        一般の方の飼われている動物の<span style="color:red;">譲渡会場ではございません。</span>
                    </label>
                </div>
                
                <h3 style="font-size:20px;">
                    動物保護団体・会社の方々へ
                </h3>
                <div style="width:95%;margin-left:auto;">
                    <label>
                        掲載依頼につきましては、本サイトページ下部の連絡先まで連絡をお願いいたします。
                        ご連絡を頂いた後、ご案内の連絡をこちらからお送りいたします。
                    </label>
                </div>
                <h3 style="font-size:20px;">
                    以下、提携団体・会社一覧（敬称略）
                </h3>
                <div style="width:95%;margin-left:auto;">
                    <label>
                        <p>
                        ・◯◯動物ふれあいセンター
                        </p>
                        <p>
                        ・株式会社〇〇
                        </p>
                    </label>
                </div>
            </div>
        </div>
<!-- 戻るボタン -->
<div style="diaplay:flex;">
    {% comment %} <a href="javascript:history.back()" class="return-btn">戻る</a> {% endcomment %}
</div>
{% endblock %}