{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    /*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  {% comment %} padding-bottom: 40px; {% endcomment %}
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #f9f9f9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item2 {
    width: calc(100%);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #f9f9f9;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 0px 40px 10px;
  clear: both;
  overflow: hidden;
  
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.font20 {
    font-size:20px;
}
</style>

<div>
    <form action="", method="GET">
      <div class="form-group row">
          <div class="col-12">
              {{ adopt_search_form.keywords }}
          </div>
      </div>
      <div class="form-group row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <button type="submit" class="btn btn-primary btn-block">検索</button>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <a href="{% url 'chat:index' %}" class="btn btn-secondary btn-block">クリア</a>
          </div>
      </div>
    </form>
    {% if ctx %}
        {% for adopt in ctx %}
        <a href="{% url 'accounts:adopt_detail' adopt.pk %}"><label class="tab_item2" for="programming">{{ adopt.place }}</label></a>
        <div style="text-align:center;vertical-align: middle;padding: 0 0 10px;">
            <label>{{adopt.species}}</label>
            <br>
            <label>{{adopt.detail}}</label>
            <br>
        </div>
    {% endfor %}
{% endif %}
<br>         
  </div>
        <!-- 戻るボタン -->
        <a href="javascript:history.back()" class="return-btn">戻る</a>
{% endblock %}