{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    {% if user.is_authenticated  %}
    <div class="col-12">
        <div class="row">
            <h2 class="h2">{{ user|stringformat:"s" }}さん, ようこそ! (仮ページ・今後、このページはmain_menu.htmlに置き換え予定。)</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="card-columns">
                    <div class="card">
                        <div class="card-header">Chat</div>
                        <div class="card-body">
                            <a href="{% url 'chat:index' %}" class="btn btn-link btn-block" target="_self">
                                チャットをする
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">NoticeList</div>
                        <div class="card-body">
                            <a href="{% url 'contents:notice_l' %}" class="btn btn-link btn-block" target="_self">
                                通知一覧
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Points</div>
                        <div class="card-body">
                            <a href="{% url 'accounts:points' %}" class="btn btn-link btn-block" target="_self">
                                ポイント交換
                            </a>
                        </div>
                        <div>
                            <label class="tab_item2" for="programming">動画</label>
                            <div style="text-align:center;">
                                <video id="video" src="/media/{{ post.video }}" controls style="object-fit: contain; width: 70%; height: 70%;" controlsList="nodownload" oncontextmenu="return false;"></video>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    {% endif %}
                    {% endif %}
                </div>                        
                {% endfor %}
                {% endif %}
                <br>





{% comment %} 
                            <!-- 投稿1 -->
                            {% if ctx %}
                            {% for post in ctx %}
                            <div class="post">
                            <div class="card-columns" style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 5px;">
                                <div class="card">
                                    <div class="card-header" style="height:50px;width:auto;">
                                            <h4>{{ post.account_id }}</h4>
                                    </div>
                                    <div class="card-body" style="height:195px;">
                                        
                                        <div class="post-content">
                                            <p>{{post.post}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% if post.image %}
                                    <div class="card">
                                        <div class="card-body">                                        
                                                <img src="/media/{{ post.image }}" style="object-fit: contain; width: 100%; height: 105%;">
                                        </div>
                                    </div>
                                {% endif %}
                                <!-- 動画 -->
                                {% if post.video %}
                                    <div class="card">
                                        <div class="card-body" >
                                                <video src="/media/{{ post.video }}" controls style="object-fit: contain; width: 50%; height: 50%;"></video>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>                        
                            {% endfor %}
                            {% endif %}
                            <br>                     {% endcomment %}
                    </div>

                    <div class="card-columns">
                        <div class="card">
                            <div class="card-header">Chat</div>
                            <div class="card-body">
                                <a href="{% url 'chat:index' %}" class="btn btn-link btn-block" target="_self">
                                    チャットをする
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-columns">
                        <div class="card">
                            <div class="card-header">Error1 404</div>
                            <div class="card-body">
                                <a href="{% url 'contents:accesserror' %}" class="btn btn-link btn-block" target="_self">
                                    アクセス不可
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">Error2 500</div>
                            <div class="card-body">
                                <a href="{% url 'contents:servererror' %}" class="btn btn-link btn-block" target="_self">
                                    サーバーエラー
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-columns">
                        <div class="card">
                            <div class="card-header">MainPage</div>
                            <div class="card-body">
                                <a href="{% url 'accounts:menu' %}" class="btn btn-link btn-block" target="_self">
                                    メインページへ(今後置き換えします。)
                                </a>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">Mypage</div>
                            <div class="card-body">
                                <a href="{% url 'accounts:mypage' %}" class="btn btn-link btn-block" target="_self">
                                    マイページテスト用
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-columns">
                        
                        <div class="card">
                            <div class="card-header">-</div>
                            <div class="card-body">
                                <a href="{% url 'accounts:edit_profile' %}" class="btn btn-link btn-block" target="_self">
                                    名称変更
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">-</div>
                            <div class="card-body">
                                {% comment %} <a href="{% url 'accounts:mypage' %}" class="btn btn-link btn-block" target="_self">
                                    マイページテスト用
                                </a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Post</div>
                        <div class="card-body">
                            <a href="{% url 'post:posts' %}" class="btn btn-link btn-block" target="_self">
                                投稿する
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Mypage</div>
                        <div class="card-body">
                            <a href="{% url 'accounts:mypage' %}" class="btn btn-link btn-block" target="_self">
                                マイページテスト用
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-columns">
                    <div class="card">
                        <div class="card-header">アカウント削除（無効化）</div>
                        <div class="card-body">
                            {% if user.is_authenticated %}
                                {% comment %} <li><a href="{% url 'user_auth:delete' user.username %}">退会</a></li> {% endcomment %}
                                <li><a href="{% url 'accounts:cleanup' %}">退会</a></li>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">-</div>
                        <div class="card-body">
                            {% comment %} <a href="{% url 'post:posts' %}" class="btn btn-link btn-block" target="_self">
                                投稿する
                            </a> {% endcomment %}
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">-</div>
                        <div class="card-body">
                            {% comment %} <a href="{% url 'accounts:mypage' %}" class="btn btn-link btn-block" target="_self">
                                マイページテスト用
                            </a> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% comment %} {% else %}
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h5 class="h5">再度ログインしてください。(Plese login from the link above.)</h5>
                    <div><button class="exchange-btn" onclick="location.href='{% url "accounts:login" %}'" >ログイン画面へ</a></div>
                </div>
            </div>
        </div>
    {% endif %} {% endcomment %}
</div>
{% endblock %}

