{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- ログアウト後画面 -->

<body>
    <div class="logout-container">
        <h1>ログアウトしました</h1>
        <p>ログアウトすると、再度ログインが必要になります。</p>
        <button class="btn btn-primary " onclick="location.href='{% url 'accounts:index' %}'">OK</button>
  
    </div>
    <script>
        function logout() {
            // ログアウト処理を実行 (バックエンドのログアウト処理を呼び出すなど)
            window.location.href = "login.html"; // 例: ログアウト処理後のリダイレクト先
        }

        function cancel() {
            window.location.href = "/home"; // 例: キャンセル時に戻るページ
        }
    </script>
</body>
</html>
{% endblock %}