<!-- ログアウト後画面 -->

<!DOCTYPE html>
<html lang="ja">
    <link rel="stylesheet" href="../../static/admin/css/common.css"> 
    <link rel="stylesheet" href="../../static/admin/css/logouted.css"> 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログアウト</title>

</head>
<body>
    <div class="logout-container">
        <h1>ログアウトしました</h1>
        <p>ログアウトすると、再度ログインが必要になります。</p>
        <button class="logout-button" onclick="logout()">ログインページに戻る</button>
  
    </div>
    <script>
        function logout() {
            // ログアウト処理を実行 (バックエンドのログアウト処理を呼び出すなど)
            window.location.href = "login.html"; // 例: ログアウト処理後のリダイレクト先
        }

        function cancel() {
            window.location.href = "/home"; // 例: キャンセル時に戻るページ
        }
    </script>
</body>
</html>
