
{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'admin/css/logout.css' %}">{% endblock %}

{% block content %}
<body>
    <div class="logout-container">
        <h1>ログアウトしますか？</h1>
        <p>ログアウトすると、再度ログインが必要になります。</p>
        
        {% comment %} <a class="logout-button" href="{% url 'accounts:logout'%}">ログアウト</a> {% endcomment %}
        <form method="post" action="{% url 'accounts:logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-light text-dark me-2">ログアウト</button>
        </form>
        {% comment %} <button class="logout-button" onclick="logout()">ログアウト</button> {% endcomment %}
        <button class="cancel-button" onclick="cancel()">キャンセル</button>
    </div>
    <script>
        function logout() {
            // ログアウト処理を実行 (バックエンドのログアウト処理を呼び出すなど)
            window.location.href = "logouted.html"; // 例: ログアウト処理後のリダイレクト先
        }

        function cancel() {
          
            window.location.href = "javascript:history.back()"; // 例: キャンセル時に戻るページ
        }
    </script>
</body>
{% endblock %}



{% comment %} <!-- ログアウト画面 -->



<!--　メインメニュー画面　-->
<!DOCTYPE html>
<html lang="ja">
    
<link rel="stylesheet" href="../../static/admin/css/common.css"> 
<link rel="stylesheet" href="../../static/admin/css/logout.css"> 

<link href="../../header/画面/css/headers.css" rel="stylesheet">
<link href="../header/assets/dist/css/bootstrap.min.css" rel="stylesheet">


    
<head>  

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Koki Yoshida">
    <title>アニマルチャット</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Design</title>


</head>
<body>

    
    <!-- Custom styles for this template -->
    

  <header class="headers">
    <div class="px-3 py-2 text-bg-dark border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="./contents/my_account.html" class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg> -->
            <img src="C:\Users\yoshida\Pictures\画像\medium_20221121_isobo_94783d724b_3ac2c5597d.jpg" alt="mdo" width="80" height="64" class="rounded-circle">
          </a>
          <h3 class="fs-4 text-white" style="width: 85%; text-align: center;">アニマルチャット</h3>
        </div>
      </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
      <div class="container d-flex flex-wrap justify-content-center">
        <input type="button" value="ポイント"  style="margin-right: 30%;" class="btn btn-light text-dark">
        <form action={% url 'post:posts_search' %} method='get' class="col-12 col-lg-auto mb-2 mb-lg-0" role="search" style="display: flex;">
          <input type="search" class="form-control" placeholder="検索..." aria-label="Search" name='keyword'>
          <input type="submit" value="検索" class="btn btn-light text-dark me-2">
        </form>

        <div class="text-end" style="margin-left: auto;">
            
          <button  onclick="location.href='./accounts/login.html'" type="button" class="btn btn-light text-dark me-2" >ログイン</button>
          <button onclick="location.href='./accounts/signup.html'" type="button" class="btn btn-primary">新規作成</button>
        </div>
      </div>
    </div>
  </header>

</body>



<head>

    <title>ログアウト画面</title>
  
</head> {% endcomment %}


