<!doctype html>
<html lang="ja">
<ul>
    ↓
    
    <div><h3>アカウント情報</h3></div>
    アカウントID:{{ user.id }}※ 変更不可
    <br>
    アカウント名:{{user.screen_name}}
    <br>
    電子メール:{{user.email}}
    <br>

    <a href= '{% url "accounts:namechange" %}'>アカウント名の変更はこちら</a>
    <br>
    <a href= '{% url "accounts:pwchange" %}'>パスワード変更はこちら</a>
    <br>
    <a class="nav-item nav-link" href="{% url 'accounts:email_change' %}">メールアドレスの変更はこちら</a>
    <br>
    <a href= '{% url "contents:follow" %}'>フォローリスト</a>
    <a href= '{% url "contents:follow_er" %}'>フォロワーリスト</a>
    <a href= '{% url "contents:test_follow" %}'>フォローするボタンのテストページ</a>
    ↑
</ul>