{% extends 'base.html' %}
{% block content %}
<style>
    /*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  {% comment %} padding-bottom: 40px; {% endcomment %}
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #f9f9f9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item2 {
    width: calc(100%);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #f9f9f9;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 0px 40px 10px;
  clear: both;
  overflow: hidden;
  
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.font20 {
    font-size:20px;
}
</style>
<label class="tab_item2" for="programming">{{name}}</label>
        <div style="text-align:center;vertical-align: middle;padding: 0 0 10px;">
            <image href={{icon}}>
            <label>メール：{{email}}</label>
            <br>
            <label>プロフィール：{{profile}}</label>
            <br>
        </div>
        {% if follow_tf == 0%}
            <form method="post" action="{% url 'accounts:index' %}" >
                {% csrf_token %}
            {% comment %} <input onclick="click()" value="このユーザーをフォローする" class="btn btn-primary btn-block"> {% endcomment %}
            <button onclick="button()" class="btn btn-primary btn-block">このユーザーをフォローする</button>
            </form>
        {% else %}
            <label class="btn btn-primary btn-block">フォロー済みです</label>
        {% endif %}
<script>
    import defaultExport from "sqlite3"
    function button() {
        alert("押されました")
        const sqlite3 = require('sqlite3').verbose();
        const db = new sqlite3.Database('../../db.sqlite3');
        const getUsersQuery = 'SELECT * FROM contents_followlist';
    }
    function click() {
        alert("ボタンが押されました")
        const sqlite3 = require('sqlite3').verbose();
        const db = new sqlite3.Database('../../db.sqlite3');
        // ユーザーの取得クエリ
        const getUsersQuery = 'SELECT * FROM contents_followlist';

        // ユーザーの取得
        db.all(getUsersQuery, function(err, rows) {
        if (err) {
            console.error(err.message);
        } else {
            rows.forEach(row => {
            console.log(row);
            alert(row)
            });
        }
        });

        // データベース接続のクローズ
        db.close();
    }
</script>
<!-- 戻るボタン -->
<div style="diaplay:flex;">
    <a href="javascript:history.back()" class="return-btn">戻る</a>
</div>

{% endblock %}