<!--　エラー画面　-->
{% extends "base.html" %}
{% load static %}

{% comment %} {% block style %}<link href="{% static "admin/css/404.css" %}" rel="stylesheet">{% endblock %} {% endcomment %}

{% block content %}
<style>

    .tab_item2 {
        width: calc(100%);
        height: 50px;
        border-bottom: 3px solid #5ab4bd;
        background-color: #f9f9f9;
        line-height: 50px;
        font-size: 20px;
        text-align: center;
        color: #565656;
        display: block;
        float: left;
        text-align: center;
        font-weight: bold;
        transition: all 0.2s ease;
        }
    .tab_item:hover {
        opacity: 0.75;
    }
    
    
    </style>
    
    <label class="tab_item2" for="programming">サーバーエラー(500)</label>
            <div style="text-align:center;vertical-align: middle;padding: 0 0 10px;">
                <h3 style="font-size:20px;">
                    
                    一時的にサーバーにつながりにくくなっている可能性があります。
                    <br>
                    しばらく待ってから、再度アクセスしてください。
                    <br>
                    改善されない場合は、制作チームへ問い合わせをお願いいたします。
                </h3>
                
                <p>

                </p>
                <br>
                <a href="{% url 'accounts:index'%}" style="text-align:center;">メインページに戻る</a>
            </div>
{% endblock %}
