<!--　プロフィール画面　-->
{% load static %}
{% extends "all_base.html" %}

{% block style %}{% load static %}<link rel="stylesheet" href="{% static 'admin/css/common.css' %}">{% endblock %}   
{% block style %}{% load static %}<link rel="stylesheet" href="{% static 'admin/css/edit_profile.css' %}">{% endblock %}   


<body>

    <div class="edit-container">
        
        <!-- プロフィール画像 -->
        <div class="profile-section">
            <div class="profile-pic"></div>
            <div class="upload-btn-wrapper">
                <button class="btn">画像をアップロード</button>
                <input type="file" name="profile-pic">
                
            </div>
        </div>

              <!-- プロフィール画像 -->
              
        <button type="submit" class="return-btn" onclick="window.history.back()">戻る</button>
            


        
        <!-- 編集フォーム -->
        <div class="edit_profiel_form-section">
            <h2 class="edit-title">プロフィール編集</h2>
            <form>
                <div class="edit_profiel-form-group">
                    <label for="name">名前</label>
                    <input type="text" id="name" name="name" placeholder="名前を入力">
                </div>

                <div class="edit_profiel_form-group">
                    <label for="bio">自己紹介</label>
                    <textarea id="bio" name="bio" placeholder="自己紹介を入力"></textarea>
                </div>
                <button type="submit" class="save-btn">保存</button>
                
            </form>
        </div>
    </div>





</body>
</html>


