<!--　ポイント交換画面　-->
{% extends "base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'admin/css/exchange_point.css' %}">{% endblock %}

{% block content %}
<br>
    <div class="exchange-container">
        <h2>ポイント交換</h2>
        <p class="number-points">保有ポイント:  <span>{{ points }}</span>pt</p>
        {% if points != 0 %}
        <div><button class="exchange-btn" onclick="location.href='{% url "accounts:points_fin" %}'" >交換する</a></div>
        {% endif %}
    </div>
{% endblock %}
