<!--　ポイント交換完了画面　-->
{% extends "base.html" %}
{% load static %}


{% block style %}<link rel="stylesheet" href="{% static 'admin/css/completed.css' %}">{% endblock %}

{% block content %}
<br>

    <div class="box"><h3>Thank you!</h3></div>
    <div>{{ your_points }}&nbsp;ポイント募金しました。
    サイト全体の募金総額は&nbsp;{{ fund_sum }}&nbsp;ポイントです。</div>
    <div>月末に保護団体に送金され、動物保護活動に活用されます。</div>
    <p style="font-size: 12px;">※ポイントは&nbsp;◯ポイント&nbsp;=&nbsp;◯円&nbsp;換算です。</p>
    <button onclick="location.href='{% url 'accounts:index' %}'" class="btn btn-primary btn-lg" type="button" >
        ホーム画面へ戻る
    </button>
{% endblock %}
