{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
.tab_item2 {
    width: calc(100%);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #f9f9f9;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
</style>
<br>
<ul>
    <h3 style="text-align:center;">フォロー中 一覧</h3>
    <br>
    {% for data in flist %}
    <form  method="post">
        <div class="tab_item2" >
            <div style="display:flex;">
                <div style="width:70%;text-align:left;">
                    {% csrf_token %}
                    <input id="uid" name="uid" value={{ data.follow_er }} type="hidden"></input>
                    <div>
                        <label for="programming" style="">アカウント名:{{ data.follow_er_name }}</label>
                    </div>
                </div>
                <div style="width:30%;text-align:right;">
                    <input type="submit" value="解除する"class="btn btn-primary btn-block">
                </div>
            </div>
        </div>
    </form>
    {% endfor %}
    <br style="height:10px;">
    <a href="{% url 'contents:follow_er' %}" class="btn btn-link btn-block" target="_self">フォロワー 一覧</a>
    
</ul>
{% endblock %}
