{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
.tab_item2 {
    width: calc(100%);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #f9f9f9;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
</style>
<br>
<ul>
    <h3 style="text-align:center;">フォロワー一覧</h3>
    <br>
    {% if erlist %}
    {% for data in erlist %}
    <label class="tab_item2" for="programming">アカウント名:{{ data.follow_name }}</label>
    <br>
    
    {% endfor %}
    {%else%}
        <p>フォローしているアカウントはありません</p>
    {% endif %}
    <br>
    <a href="{% url 'contents:follow' %}" class="btn btn-link btn-block" target="_self">フォロー中一覧</a>
    
</ul>




{% endblock %}
