{% extends "base.html" %}
{% load static %}

{% block content %}
<style>

.tab_item2 {
    width: calc(100%);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #f9f9f9;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
    }
.tab_item:hover {
    opacity: 0.75;
}


</style>

<label class="tab_item2" for="programming">病院の経営・運営者の方々・利用者の皆様へ</label>
        <div style="text-align:center;vertical-align: middle;padding: 0 0 10px;">
            {% comment %} 本文 {% endcomment %}
            <div style="text-align:left;">
                <h3 style="font-size:20px;">
                    掲載依頼について
                </h3>
                <div style="width:95%;margin-left:auto;">
                    <label style="text-align:left;">
                        掲載依頼につきましては、本サイトページ下部の連絡先までお願いいたします。
                        サービス向上のため、病院検索サービスに限り、ユーザーの皆様の掲載依頼も受け付けております。
                        
                        ご連絡の際には、病院掲載の依頼であることをお伝えください。
                        ご連絡元が法人の場合、ご連絡を頂いた後、ご案内の連絡をこちらからお送りいたします。
                    </label>
                </div>
            </div>
        </div>
<!-- 戻るボタン -->
<div style="diaplay:flex;">
    {% comment %} <a href="javascript:history.back()" class="return-btn">戻る</a> {% endcomment %}
</div>
{% endblock %}