<!--　マイアカウント画面　-->
{% extends "base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'admin/css/my_account.css' %}">{% endblock %}   

{% block content %}

    <div class="profile-container">


        <!-- アイコンと編集ボタン -->
        <div class="icon-edit-container">
            <div class="profile-icon"></div>
            <a href="{%url 'accounts:edit_profile'%}" class="edit-btn">アカウント名編集</a>
            <a href="{%url 'accounts:pwchange'%}" class="edit-btn">パスワード変更</a>
            <a href="{%url 'accounts:email_change'%}" class="edit-btn">メールアドレス変更</a>
        </div>
        
        <!-- プロフィール情報とボタン -->
        <div class="profile-info">
            <div class="profile-name">{{user.screen_name}}</div>
            <div class="profile-bio">こちらにプロフィール情報が表示されます。</div>
            
            <div class="btn-container">
                <a href="{% url "contents:follow_er" %}" class="btn btnn follower-btn">フォロワー</a>
                <a href="{% url "contents:follow" %}" class="btn btnn follow-btn">フォロー中</a>
                <a href="{% url "accounts:points" %}" class="btn btnn point-btn">ポイント</a>
                <a href="{% url 'post:posts_history' %}" class="btn btnn history-btn">投稿履歴</a>
            </div>
        </div>
    </div>

<!-- 戻るボタン -->
<a href="javascript:history.back()" class="return-btn">戻る</a>
{% endblock %}