<!--　通知画面　-->
{% extends "all_base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'admin/css/notice_list.css' %}">{% endblock %}   

{% block contents %}
    <div class="notice-container">
        <h2 class="notice-title">通知一覧</h2>

        <!-- 通知1 -->
        <div class="notice">
            <div class="notice-content">
                <div class="notice-icon"></div>
                <div class="notice-details">
                    <div class="notice-sender">返信した相手の名前</div>
                    <div class="notice-message">「メッセージ内容」</div>
                </div>
            </div>
            <div class="notice-time">2024/10/31 14:00</div>
        </div>

        <!-- 通知2 -->
        <div class="notice">
            <div class="notice-content">
                <div class="notice-icon"></div>
                <div class="notice-details">
                    <div class="notice-sender">返信した相手の名前</div>
                    <div class="notice-message">「メッセージ内容」</div>
                </div>
            </div>
            <div class="notice-time">2024/10/30 10:45</div>
        </div>

        <!-- 通知3 -->
        <div class="notice">
            <div class="notice-content">
                <div class="notice-icon"></div>
                <div class="notice-details">
                    <div class="notice-sender">返信した相手の名前</div>
                    <div class="notice-message">「メッセージ内容」</div>
                </div>
            </div>
            <div class="notice-time">2024/10/29 18:30</div>
        </div>

        <!-- 通知4 -->
        <div class="notice">
            <div class="notice-content">
                <div class="notice-icon"></div>
                <div class="notice-details">
                    <div class="notice-sender">返信した相手の名前</div>
                    <div class="notice-message">「メッセージ内容」</div>
                </div>
            </div>
            <div class="notice-time">2024/10/28 09:15</div>
        </div>
        
        <!-- 通知5 -->
        <div class="notice">
            <div class="notice-content">
                <div class="notice-icon"></div>
                <div class="notice-details">
                    <div class="notice-sender">返信した相手の名前</div>
                    <div class="notice-message">「メッセージ内容」</div>
                </div>
            </div>
            <div class="notice-time">2024/10/27 13:00</div>
        </div>
    </div>

            <!-- 戻るボタン -->
            <a href="" onclick="history.back()" class="return-btn">戻る</a>
{% endblock %}