<!--　通知画面　-->
{% load static %}
{% extends "all_base.html" %}

{% block style %}{% load static %}<link rel="stylesheet" href="{% static 'admin/css/common.css' %}">{% endblock %}   
{% block style %}{% load static %}<link rel="stylesheet" href="{% static 'admin/css/notice.css' %}">{% endblock %}   
<body>
    <div class="notice-container">
        <h2 class="notice-title">通知</h2>

        <div class="grid-container">
            <div class="box box1">通知タイトル</div>
            <div class="box box3">通知内容</div>
        </div>
        <div class="grid-container">
            <div class="box box1">通知タイトル</div>
            <div class="box box3">通知内容</div>
        </div>
        <div class="grid-container">
            <div class="box box1">通知タイトル</div>
            <div class="box box3">通知内容</div>
        </div>
        <div class="grid-container">
            <div class="box box1">通知タイトル</div>
            <div class="box box3">通知内容</div>
        </div>

    </div>
    

        <!-- 戻るボタン -->
        <a href="" onclick="history.back()" class="return-btn">戻る</a>

</body>
</html>

