<!--　通知画面　-->
{% extends "base.html" %}
{% load static %} 

{% block style %}<link rel="stylesheet" href="{% static 'admin/css/notice_list.css' %}">{% endblock %}   

{% block content %}
<br>
<style>
  
.tab_item2 {
  width: calc(100%);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #f9f9f9;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  }
.tab_item:hover {
  opacity: 0.75;
}

</style>
<div class="notice-container">
  <h3 style="text-align:center;">お知らせ一覧</h3>
  <br>
  {%if obj_data%}
  {% for data in obj_data %}
  <a style="text-decoration: none;font-style: #0000;color:black;" href= "{% url 'contents:notice_d' data.pk %}">
    <div class="tab_item2" style="height:100px;" >
      {% comment %} <div style="width:100%;align-items:center;height:50%;"> {% endcomment %}
        {% comment %} <div style="display:flex;height:50%;vertical-align:middle;"> {% endcomment %}
          <div style="width:100%;text-align:left;">
            {% csrf_token %}
            {% comment %} <label style="font-size:25px;"> {% endcomment %}
              {{data.title}}
            {% comment %} </label> {% endcomment %}
          </div>
          <div style="width:100%;text-align:right;font-size:20px;">
            <div class="notice-time">
              {{ data.posted_at }}
            </div>
          </div>
        {% comment %} </div> {% endcomment %}
      {% comment %} </div> {% endcomment %}
    </div>
  </a>
  {% endfor %}
  {%else%}
    <p>通知はありません</p>
  {%endif%}
  <div style="height:200px;font-size:100px;">&nbsp</div>
</div>

{% endblock %}
