<!--　通知画面　-->
{% extends "base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'admin/css/notice.css' %}">{% endblock %}   

{% block content %}
    <div class="notice-container">
        <h2 class="notice-title">通知詳細</h2>

        <div class="grid-container">
            <div class="box box1">通知タイトル:&nbsp{{obj_data.title}}</div>
            <div class="box box3">通知内容:&nbsp{{obj_data.text}}</div>
        </div>

    </div>
    

        <!-- 戻るボタン -->
        <a href="javascript:history.back()" class="return-btn">戻る</a>
{% endblock %}