<!--　投稿編集画面　-->
{% extends "base.html" %}
{% load static %}

{% block content %}
<form method="post" enctype="multipart/form-data">
  <div style="margin-top: 3%; display: flex; justify-content: center; align-items: center;">
    <div>
    <!-- 動画・画像アップロード -->
      {% csrf_token %}
      <div style="display:flex; justify-content:center;">
        <div style="margin-right:10px;">
          <label for="image-upload">画像📷</label>
          {{ form.image }}
        </div><!-- 調整中 -->

        <div>
          <label for="video-upload">動画🎞️</label>
          {{ form.video }}
        </div>
      </div>

      <!-- 文字入力フォームとボタン -->
      <div class="form-section">
        <div style="display:flex; justify-content:center; margin:15px">
        {{ form.post }}
        </div>

        <div style="display:flex; justify-content:center;">
          <button class="btn btn-secondary" style="margin-right:5px;" type="button" onclick="window.history.back()">戻る</button>
          <button class="btn btn-primary" style="width:91%" type="submit">更新する</button>    
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
