<!--　投稿検索画面　-->
{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    {% comment %} {% if user.is_authenticated  %} {% endcomment %}
        <div class="col-12">
            <div class="row">&nbsp&nbsp&nbsp
                {% comment %} <h3 style="text-align:center;">&nbsp{{ user|stringformat:"s" }}さん　ようこそ! </h3> {% endcomment %}
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="main-container">
                        

                        <!-- 投稿エリア -->
                        <div class="post-section">
                            <br>
                            {% comment %} <div class="card-columns">
                                <div class="h4">最新の投稿</div>
                            </div> {% endcomment %}
                            <br>




<style>
    /*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  {% comment %} padding-bottom: 40px; {% endcomment %}
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #f9f9f9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item2 {
    width: calc(100%);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #f9f9f9;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[type="radio"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 0px 40px 10px;
  clear: both;
  overflow: hidden;
  
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
[id*="programming"]:checked ~ #programming_content,
[id*="design"]:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.font20 {
    font-size:20px;
}
</style>

<script>
    document.getElementById('video').addEventListener('contextmenu', function(e) {
         e.preventDefault();
    });
</script>

                <!-- 検索した投稿がある場合 -->
                {% if posts %}
                {% for post in posts %}
                <div class="post">
                    <div class="tabs">
                        <div>
                            <div class="card">
                                {%if post.account_id_id == myid%}
                                <a href='{% url 'accounts:mypage' %}' style="color:black;text-decoration-color: gray;">
                                {% else %}
                                <a href='{% url 'accounts:user_detail' post.account_id_id %}' style="color:black;text-decoration-color: gray;">
                                {% endif %}
                                    <div class="card-header" style="height:50px;width:auto;">
                                        <h4>{{ post.account_id }}</h4>
                                    </div>
                                </a>
                                <a href='{% url 'post:posts_detail' post.pk %}' style="color:black;text-decoration-color: gray; text-decoration:none;" onMouseOut="this.style.background='none';" onMouseOver="this.style.background='#EEEEEE';">
                                    <div class="card-body" style="height:195px;">
                                        
                                        <div class="post-content">
                                            <p>{{post.post}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- 画像と動画がある場合 -->
                        {% if post.image and post.video %}
                            <div>
                                {% comment %} <input id="all" type="radio" name="tab_item" checked>
                                <label class="tab_item" for="all">詳細</label> {% endcomment %}
                                <input id="programming{{ forloop.counter }}" type="radio" name="item_content{{ forloop.counter }}" checked>
                                <label class="tab_item" for="programming{{ forloop.counter }}">画像</label>
                                <input id="design{{ forloop.counter }}" type="radio" name="item_content{{ forloop.counter }}">
                                <label class="tab_item" for="design{{ forloop.counter }}">動画</label>
                                {% comment %} <div class="tab_content" id="all_content">
                                    デザインの内容がここに入ります
                                </div> {% endcomment %}
                                <div class="tab_content" id="programming_content" style="margin-left: auto;margin-right: auto;width:100%;vertical-align: middle;height:100%;">
                                    <div style="text-align:center;">
                                        <img src="/media/{{ post.image }}" style="object-fit: contain; width: 70%; height: 70%;">
                                    </div>
                                </div>
                                <div class="tab_content" id="design_content">
                                    <div style="text-align:center;">
                                        <video id="video" src="/media/{{ post.video }}" controls style="object-fit: contain; width: 70%; height: 70%;" controlsList="nodownload" oncontextmenu="return false;"></video>
                                    </div>
                                </div>
                            </div>  
                        <!-- 画像のみの場合 -->
                        {% elif post.image and not post.video %}
                            <div>
                                <label class="tab_item2" for="programming">画像</label>
                                <div style="text-align:center;vertical-align: middle;padding: 0 0 10px;">
                                    <img src="/media/{{ post.image }}" style="object-fit: contain; width: 70%; height: 70%;">
                                </div>
                            </div>
                        <!-- 動画のみの場合 -->
                        {% elif post.video and not post.image %}
                            <div>
                                <label class="tab_item2" for="programming">動画</label>
                                <div style="text-align:center;">
                                    <video id="video" src="/media/{{ post.video }}" controls style="object-fit: contain; width: 70%; height: 70%;" controlsList="nodownload" oncontextmenu="return false;"></video>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <br>
                    <br>
                    <br>
                </div>                        
                {% endfor %}
                {% else %}
                <!-- メッセージ -->
                 投稿はありません。
                {% endif %}
                <div style="margin-bottom:10%;">
                    <!-- 戻るボタン、ホーム画面に戻る -->
                    <button class="btn btn-secondary" onclick="location.href='{% url 'accounts:index' %}'">ホームへ</button>
                </div>
                <br>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}

