<!--　マイアカウント画面　-->
{% extends "all_base.html" %}
{% load static %}

{% block style %}<link href="{% static "post/css/poster_info.css" %}" rel="stylesheet">{% endblock %}

{% block contents %}
    <div class="profile-container">


        <!-- アイコンと編集ボタン -->
        <div class="icon-edit-container">
            <div class="profile-icon"></div>
            <a href="#" class="info_follow-btn">フォロー</a>
        </div>
        
        <!-- プロフィール情報とボタン -->
        <div class="profile-info">
            <div class="profile-name">投稿者名</div>
            <div class="profile-bio">プロフィール情報が表示されます。</div>
            
            <div class="btn-container">
                <a href="follower_list.html" class="btn follower-btn">フォロワー</a>
                <a href="follow_list.html" class="btn follow-btn">フォロー中</a>
                <a href="exchange_point.html" class="btn point-btn">ポイント</a>
                <a href="{% url 'post:posts_history' %}" class="btn history-btn">投稿履歴</a>
            </div>
        </div>
    </div>

  <!-- 戻るボタン -->
  {% comment %} <a href="javascript:history.back()" class="return-btn">戻る</a> {% endcomment %}
{% endblock %}
