<!--　投稿詳細画面　-->
{% extends "all_base.html" %}
{% load static %}

{% block style %}<link href="{% static "post/css/post_detail.css" %}" rel="stylesheet">{% endblock %}

{% block contents %}
  <div class="grid-container">
    <!-- 左側：投稿内容 -->
    <div class="box box1">{{ post.post }}</div>
    <!-- 右側：投稿者情報と動画・画像 -->
    <div class="right-container">
      <div class="box box2">{{ post.account_id }}</div>
      <div class="box box3">
        <!-- 画像 -->
        {% if post.image or post.video %}
          {% if post.image %}
            <img src="/media/{{ post.image }}">
          {% endif %}
          <!-- 動画 -->
          {% if post.video %}
            <video src="/media/{{ post.video }}" controls></video>
          {% endif %}
        {% else %}
          Not image
        {% endif %}
      </div>
    </div>
  </div>

  <!-- 編集ボタン -->
  {% if request.user.id == post.account_id.id %}
    <button onclick="location.href='{% url 'post:posts_update' post.id %}'">編集</button>
  {% endif %}
  <!-- 削除ボタン -->
  {% if request.user.id == post.account_id.id %}
    <button onclick="location.href='{% url 'post:posts_delete' post.id %}'">削除</button>
  {% endif %}
  <button onclick="location.href='{{ request.META.HTTP_REFERER }}'">戻る</button>
{% endblock %}
