<!--　投稿履歴画面　-->
{% extends "all_base.html" %}
{% load static %}

{% block sytle %}<link href="{% static "post/css/post_history.css" %}" rel="stylesheet">{% endblock %}

{% block contents %}
    <!-- 投稿履歴コンテナ -->
    <div class="history-container">
        <h2 class="history-title">投稿履歴</h2>

        <!-- 投稿履歴がある場合 -->
        {% if posts %}
          <!-- 投稿表示 -->
          {% for post in posts %}
            <!-- 投稿 -->
            <div class="post">
                <div class="post-content">
                  <!-- 投稿文 -->
                  <a class="post-text" href="{% url 'post:posts_detail' post.pk %}">{{ post.post }}</a>
                  <!-- 投稿日 -->
                  <p class="post-title">{{ post.post_date }}</p>
                </div>
                <!-- 画像 -->
                {% if post.image %}
                    <img src="/media/{{ post.image }}">
                {% endif %}
                <!-- 動画 -->
                {% if post.video %}
                    <video src="/media/{{ post.video }}" controls></video>
                {% endif %}
                <!-- フッターで見えなかったので今だけ移動しました -->
                {% comment %} <div class="post-content">
                    <!-- 投稿日 -->
                    <p class="post-title">{{ post.post_date }}</p>
                    <!-- 投稿文 -->
                    <a class="post-text" href="{% url 'post:posts_detail' post.pk %}">{{ post.post }}</a>
                </div> {% endcomment %}
            </div>
          {% endfor %}
        <!-- 投稿履歴がない場合 -->
        {% else %}
          <!-- メッセージ -->
          投稿はありません。
        {% endif %}
    </div>

    <!-- 戻るボタン -->
    <button onclick="location.href='{% url 'accounts:index' %}'">戻る</button>
{% endblock %}
