<!-- 投稿削除画面 -->
{% extends 'base.html' %}

{% block content %}
<form method="post">
  {% csrf_token %}

<div class="row justify-content-center">
    {% comment %} {% if user.is_authenticated  %} {% endcomment %}
        <div class="col-12">
            <div class="row">&nbsp&nbsp&nbsp
                {% comment %} <h3 style="text-align:center;">&nbsp{{ user|stringformat:"s" }}さん　ようこそ! </h3> {% endcomment %}
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="main-container">
                        
                        <div class="post-section">
                            <br>
                            {% comment %} <div class="card-columns">
                                <div class="h4">最新の投稿</div>
                            </div> {% endcomment %}
                            <br>




<style>
    /*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  {% comment %} padding-bottom: 40px; {% endcomment %}
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #f9f9f9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item2 {
    width: calc(100%);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #f9f9f9;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 0px 40px 10px;
  clear: both;
  overflow: hidden;
  
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.font20 {
    font-size:20px;
}
</style>

<script>
    document.getElementById('video').addEventListener('contextmenu', function(e) {
         e.preventDefault();
    });
</script>

                <div class="post">
                    {% if post.image and post.video %}
                        <div class="tabs">
                            <div>  
                                    <div class="card">
                                        <div class="card-header" style="height:50px;width:auto;">
                                                <h4>{{ post.account_id }}</h4>
                                        </div>
                                        <div class="card-body" style="height:195px;">
                                            
                                            <div class="post-content">
                                                <p>{{post.post}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                {% comment %} <input id="all" type="radio" name="tab_item" checked>
                                <label class="tab_item" for="all">詳細</label> {% endcomment %}
                                <input id="programming" type="radio" name="tab_item" checked>
                                <label class="tab_item" for="programming">画像</label>
                                <input id="design" type="radio" name="tab_item">
                                <label class="tab_item" for="design">動画</label>
                                {% comment %} <div class="tab_content" id="all_content">
                                    デザインの内容がここに入ります
                                </div> {% endcomment %}
                                <div class="tab_content" id="programming_content" style="margin-left: auto;margin-right: auto;width:100%;vertical-align: middle;height:100%;">
                                    <div style="text-align:center;">
                                        <img src="/media/{{ post.image }}" style="object-fit: contain; width: 70%; height: 70%;">
                                    </div>
                                </div>
                                <div class="tab_content" id="design_content">
                                    <div style="text-align:center;">
                                        <video id="video" src="/media/{{ post.video }}" controls style="object-fit: contain; width: 70%; height: 70%;" controlsList="nodownload" oncontextmenu="return false;"></video>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>  
                    {% endif %}
                    {% if post.image %}
                    {% if not post.video %}
                    <div class="tabs">
                        <div>
                                <div class="card">
                                    <div class="card-header" style="height:50px;width:auto;">
                                            <h4>{{ post.account_id }}</h4>
                                    </div>
                                    <div class="card-body" style="height:195px;">
                                        
                                        <div class="post-content">
                                            <p>{{post.post}}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <label class="tab_item2" for="programming">画像</label>
                            <div style="text-align:center;vertical-align: middle;padding: 0 0 10px;">
                                <img src="/media/{{ post.image }}" style="object-fit: contain; width: 70%; height: 70%;">
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    {% endif %}
                    {% endif %}
                    {% if post.video %}
                    {% if not post.image %}
                    <div class="tabs">
                        <div>
                                <div class="card">
                                    <div class="card-header" style="height:50px;width:auto;">
                                            <h4>{{ post.account_id }}</h4>
                                    </div>
                                    <div class="card-body" style="height:195px;">
                                        
                                        <div class="post-content">
                                            <p>{{post.post}}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <label class="tab_item2" for="programming">動画</label>
                            <div style="text-align:center;">
                                <video id="video" src="/media/{{ post.video }}" controls style="object-fit: contain; width: 70%; height: 70%;" controlsList="nodownload" oncontextmenu="return false;"></video>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    {% endif %}
                    {% endif %}
                    {% if not post.video and not post.image %}
                      <div class="tabs">
                        <div>
                            <div class="card">
                              <div class="card-header" style="height:50px;width:auto;">
                                <h4>{{ post.account_id }}</h4>
                              </div>
                              <div class="card-body" style="height:195px;">    
                                <div class="post-content">
                                  <p>{{post.post}}</p>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    <br>
                    <br>
                    <br>
                    {% endif %}
                </div>                        
                <div style="margin-bottom:10%;">
                    <!-- 削除確認ボックス -->
                    <strong>この投稿を削除しますか？</strong>
                    <button class="btn btn-danger">はい</button>
                    <button class="btn btn-secondary" type="button" onclick="location.href='{{ request.META.HTTP_REFERER }}'">いいえ</button>
                </div>
                <br>
                    </div>
                </div>
            </div>
        </div>
</div>
</form>
{% endblock %}

{% comment %} {% extends "base.html" %}
{% load static %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <!-- 投稿内容と画像を横並び -->
    <div class="content-wrapper">
      <div class="box">{{ post.post }}</div>
      <div class="box">
        <!-- 画像 -->
        {% if post.image %}
            <img src="/media/{{ post.image }}">
        {% endif %}
      </div>
      <div class="box">
        <!-- 動画 -->
        {% if post.video %}
            <video src="/media/{{ post.video }}" controls></video>
        {% endif %}
      </div>
    </div>

    <!-- 削除確認ボックス -->
    <div class="confirmation-box">
      <p>この投稿を削除しますか？</p>
      <button>はい</button>
      <button type="button" onclick="location.href='{{ request.META.HTTP_REFERER }}'">いいえ</button>
    </div>
  </form>
{% endblock %} {% endcomment %}
