<!doctype html>
<html lang="ja" data-bs-theme="auto">
    <h2>投稿詳細</h2>
    <!-- 投稿詳細 -->
    <!-- 投稿文 -->
    {{ post.post }}
    <!-- 画像 -->
    {% if post.image %}
        <img src="/media/{{ post.image }}">
    {% endif %}
    <!-- 動画 -->
    {% if post.video %}
        <img src="/media/{{ post.video }}">
    {% endif %}
    <!-- 投稿者ID -->
    {{ post.account_id }}
    <!-- 投稿日 -->
    {{ post.post_date }}
    {% if post.delete_url %}
        <button onclick="location.href='{{ post.delete_url }}'">削除</button>
    {% endif %}
    <button onclick="location.href='{% url 'accounts:menu' %}'">戻る</button>